@model WebApplication4.Models.Asignacion

@{
    ViewData["Title"] = "Eliminar";
}

<div class="container mt-5">
    <h1 class="text-danger">Eliminar</h1>
    <h3>Estás seguro de que quieres eliminar?</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Campo</th>
                <th scope="col">Asignatura</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Nombre)</td>
                <td>@Html.DisplayFor(model => model.Nombre)</td>
            </tr>
        </tbody>
    </table>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAsignacion" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Volver a la Lista</a>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}   