@{
    ViewData["Title"] = "Términos y Condiciones de Uso";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
    <h1></h1>
    <h4>1. Introducción</h4>
    <p>
        Bienvenido a la Universidad de Las Américas (UDLA). Al acceder y utilizar nuestros servicios, usted acepta cumplir con los siguientes términos y condiciones.
    </p>

    <h4>2. Uso de la Información</h4>
    <p>
        La información que recopilamos sobre usted se utiliza para mejorar nuestros servicios y garantizar una experiencia personalizada. Nos comprometemos a proteger su privacidad y a utilizar sus datos de acuerdo con las leyes de protección de datos aplicables.
    </p>

    <h4>3. Cambios en los Términos</h4>
    <p>
        Nos reservamos el derecho a modificar estos términos y condiciones en cualquier momento. Le recomendamos revisar esta página periódicamente para estar al tanto de cualquier cambio.
    </p>

    <h4>4. Contacto</h4>
    <p>
        Si tiene alguna pregunta sobre estos términos y condiciones, no dude en ponerse en contacto con nosotros a través de nuestro sitio web o mediante los canales de atención al cliente.
    </p>
    <div class="text-center">
        <p>Obtén más información sobre la UDLA en <a href="https://www.udla.edu.ec">su página oficial</a>.</p>
    </div>


    
</div>
